logs/
napcat/
data/
plugins/maodiePlugin/__pycache__/
plugins/maodiePlugin/static/images/
plugins/maodiePlugin/static/image_dir.json
plugins/maodiePlugin/static/pcr/userNo2d.json
plugins/maodiePlugin/static/pcr/tmp/*